* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
body {
  display: flex;
  align-items: center;
  height: 80vh;
  justify-content: center;
  background-color: #242424;
}
